<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/read.css">
    <title>qwdqdwwqd</title>
</head>
<body>
    <header>
        <img src="../../static/images{{ data.blog_image|cut:'home/static/images' }}" alt="">
        <h1> {{data.blog_title }} </h1>
    </header>
    <main>
        <section>
            <h2>{{ data.blog_title }}</h2>
            <hr>
            <div>{{ data.blog_content.html|safe }}</div> <br> <br>
            <span class="details">{{ data.blog_date }}</span>
        </section>
    </main>
</body>
</html>